<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1 [routerLink]="'/home'">SDA SHOP LOGO</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-raised-button class="button-spacer" matBadge="8" matBadgePosition="before" matBadgeColor="warn" [routerLink]="'/cart'"> <fa-icon [icon]="faCartShopping"></fa-icon> </a>
        <a mat-raised-button class="button-spacer" [routerLink]="'/login'"> Zaloguj </a>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <button class="sidenav-button-spacer" mat-button [matMenuTriggerFor]="produkty"><button mat-raised-button>Produkty</button></button>
        <mat-divider></mat-divider>
      <button class="sidenav-button-spacer" mat-button><button mat-raised-button color="warn"><a class="close-button" (click)="sidenav.toggle()" href="">Zamknij</a></button></button>
        <mat-divider></mat-divider>

        <mat-menu #produkty="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="clothes">Odzież</button>
            <button mat-menu-item [matMenuTriggerFor]="other">Pozostałe</button>
            <button mat-menu-item [routerLink]="'/products'">Wszystkie</button>
        </mat-menu>

        <mat-menu #clothes="matMenu">
        <button mat-menu-item>Odzież męska</button>
        <button mat-menu-item>Odzież damska</button>
        </mat-menu>

        <mat-menu #other="matMenu">
        <button mat-menu-item>Elektronika</button>
        <button mat-menu-item>Biżuteria</button>
        </mat-menu>
        
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 86vh;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

