<mat-toolbar>
    <mat-toolbar-row>
        <span>Footer</span>
        <span class="example-spacer"></span>
        <button mat-button>
        <mat-icon>contact_support</mat-icon>
        Support
        </button>
        <span class="example-spacer"></span>
        <button mat-button>
            <fa-icon [icon]="regulamin"></fa-icon>
        Regulamin
        </button>
        <span class="example-spacer"></span>
        <button mat-button>
            <fa-icon [icon]="facebook"></fa-icon>
        Facebook
        </button>
        <span class="example-spacer"></span>
        <button mat-button>
            <fa-icon [icon]="instagram"></fa-icon>
        Instagram
        </button>
        
    </mat-toolbar-row>
</mat-toolbar>
